:root {
  --color-main: #E5BA88;
  --color-accent: #47B1DE;
  --color-dark: #191202;
  --color-light: #E4D8C6;

  --color-light-green: #2C4716;
  --color-dark-green: #567440;

  --color-shadow: var(--color-light);
  /*--shadow-title:1px 1px 2px rgba(25, 18, 2, 0.5); !* color-dark in rgb *!*/

  --size-gap: 16px;
  --size-header: 50px;
  --size-page: calc(100vh - var(--size-header));
  --size-text-big: 3rem;
  --size-card-width: 250px;
  --size-card-height: calc(var(--size-card-width) * 1.31415);
}

@media only screen and (max-width: 600px) {
  :root {
    --size-card-width: 150px; /* Smaller card width for small screens */
    --size-text-big: 2rem;
  }
}

html {
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  line-height: 1.5;
  tab-size: 4;
  scroll-behavior: smooth;
}
body {
  font-family: inherit;
  line-height: inherit;
  margin: 0;
}
h1,
h2,
p,
pre {
  margin: 0;
}
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}
h1,
h2 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}
